<section class="bios-section">
   <div class="gallery-layout">
      <div class="block">
         <h2>Meet our ambassadors</h2>
         <hr class="animateme scrollme"
            data-when="enter"
            data-from="0.5"
            data-to="0"
            data-opacity="0"
            data-translatex="-200"
            data-rotatez="90">
         <div class="bios-block">
            <ul>
               <li>
                  <label>Laura Geitz</label>
                  <img src="assets/img/bios-section/laura.jpg" alt="" title="">
                  <div class="information">
                     <div class="tint">
                        <div class="icon">+</div>
                     </div>
                  </div>
               </li>
               <li>
                  <label>Caitlin Bassett</label>
                  <img src="assets/img/bios-section/caitlin.jpg" alt="" title="">
                  <div class="information">
                     <div class="tint">
                        <div class="icon">+</div>
                     </div>
                  </div>
               </li>
               <li>
                  <label>Sharni Layton</label>
                  <img src="assets/img/bios-section/sharni.jpg" alt="" title="">
                  <div class="information">
                     <div class="tint">
                        <div class="icon">+</div>
                     </div>
                  </div>
               </li>
               <li>
                  <label>Kim Ravaillion</label>
                  <img src="assets/img/bios-section/kim.jpg" alt="" title="">
                  <div class="information">
                     <div class="tint">
                        <div class="icon">+</div>
                     </div>
                  </div>
               </li>
               <li>
                  <label>Paige Hadley</label>
                  <img src="assets/img/bios-section/paige.jpg" alt="" title="">
                  <div class="information">
                     <div class="tint">
                        <div class="icon">+</div>
                     </div>
                  </div>
               </li>
            </ul>
         </div>
      </div>
   </div>
</section>