
<section class="biography">

	<ul class="bxslider">
  		<li>{{> bio-section }}</li>
  		<li>{{> bio-section }}</li>
  		<li>{{> bio-section }}</li>
  		<li>{{> bio-section }}</li>
	</ul>
	
</section>