<section class="biography scroll-active" id="slider">
	<ul class="animateme scrollme bxslider"
        data-when="span"
        data-from="0.2"
        data-to="0"
        data-opacity="0"
        data-translatex="1000"
     >
  		<li>{{> bio-section }}</li>
		<li>{{> bios-info }}</li>
		<li>{{> bios-info }}</li>
		<li>{{> bios-info }}</li>
  		
	</ul>
</section>