<section class="biography scroll-active" id="slider">

<div class="animateme scrollme" data-when="span" data-from="0.5" data-to="0" data-opacity="0" data-translatex="1000">
	<ul class="bxslider">
  	<li>{{> bio-section }}</li>
	{{> bios-info }}
	</ul>
</div>

</section>