<section class="bios-section">
   <div class="gallery-layout">
   <div class="bios-info">
      <div class="bio-image">
         <img src="assets/img/bios-info/laurin.jpg" alt="" title="">
         <div class="bio-name">
            <div class="name">
               <h2>Laura Geitz</h2>
            </div>
            </div>
         </div>
      </div>
      <div class="bio-full-info">
        <div class="bleed-block">
                <div class="copy-block">
                        <h3>Captain, Goal Defence</h3><br/>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.<br/><br/>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.<br/><br/>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam.</p>
                </div>
                <div class="video-block">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/cyohHyQl-kc" frameborder="0" allowfullscreen></iframe>
                </div>

        </div>
      </div>
   </div>
</section>