

<section class="laura bg">
	<div class="container">
		<div class="content os-phrases" id="os-phrases">
			<h1>Reth<span>nk</span></h1>
			<h3><span>role</span> models</h3>
			<div class="right_text_block">
				<h4>Laura Geitz</h4>
				<p>Diamonds, Captain</p>
			</div>
			<ul>
				<li class="first"><a href=""></a></li>
				<li class="second"><a href=""></a></li>
				<li class="third"><a href=""></a></li>
				<li class="fourth"><a href=""></a></li>
			</ul>
		</div>
		<div class="character" data-stellar-ratio="2">
		<img src="assets/img/section1/laura.png" alt="" />
		</div>
	</div>
</section>