
<section class="rethink_loader">

<div class="table outer-box">
<div class="table-cell">
<div class="loader_content">
   <img src="assets/img/loader.gif" />
   <span>100%</span>
</div>
</div>
</div>

</section>