

<section class="sharni scroll-active" id="sharni">
	<div class="layout">
		<div class="left-col">
			<h2>Our partnership</h2>
			<hr class="animateme scrollme"
        data-when="span"
        data-from="0.5"
        data-to="0"
        data-opacity="0"
        data-translatex="-200">
			<p>
			Across the board, girls & women have very few positive role models to <span>aspire to</span>, and yet there are so many inspiring examples amongst us. The <span>Australian Diamond netballers</span> are testament to this. They embody qualities worth celebrating; talent, determination, resilience, loyalty, humility, passion.
			</p>
			<p>
			<span>We’re challenging Australians</span> to re-think who we hold up as inspiration, by shining a light on our Diamonds. To stop and think about how important positive role models are in shaping society for the better. And to help us elevate role models who represent <span>brighter possibilities</span> for tomorrow. 
			</p>
			<p class="hatchtag">
			#Rethink<span>Role</span>Models
			</p>
		</div>
		<div class="right-col">
			
		
		<video autoplay loop class="fillWidth">
            <source src="http://rethink.iris-stage.com/assets/video/Shani.mp4" type="video/mp4" />
            Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        

		</div>
	</div>
</section>