
<section id="video" class="scroll-active">
	<!--Video Section-->
	<div class="video-section">
	<div class="video">

		<img src="{{video.video_overview.placeholder}}" alt="{{video.video_overview.placeholder_alt}}" title="{{video.video_overview.placeholder_title}}"/>
		<!-- <iframe width="940" height="529" src="http://www.youtube.com/embed/{{video.video_overview.videosrc}}?autoplay=1&modestbranding=1&autohide=1&showinfo=0&controls=1" frameborder="0" allowfullscreen>
	</div>
	</div>
<!--Video Section Ends Here-->
</section>