
<section id="video" class="scroll-active">

	<!--Video Section-->
<div class="video-section">
<div class="video">
<img src="static/images/Parrotbay-vid-image.jpg" alt="" />
<!-- <iframe width="940" height="529" src="http://www.youtube.com/embed/NhQn4YvC0oo?autoplay=1&modestbranding=1&autohide=1&showinfo=0&controls=1" frameborder="0" allowfullscreen></iframe>-->
</div>

</div>
<!--Video Section Ends Here-->

</section>