


@font-face {
	font-family:'SamsungSharpSans-Bold';
	src: url('../fonts/samsung-bold/SamsungSharpSans-Bold_gdi.eot');
	src: url('../fonts/samsung-bold/SamsungSharpSans-Bold_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/samsung-bold/SamsungSharpSans-Bold_gdi.woff') format('woff'),
		url('../fonts/samsung-bold/SamsungSharpSans-Bold_gdi.ttf') format('truetype'),
		url('../fonts/samsung-bold/SamsungSharpSans-Bold_gdi.svg#SamsungSharpSans-Bold') format('svg');
	font-weight: 666;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2666;
}