

// fadin animation

@mixin contentFadein{
	opacity: 0;
    animation:fadeIn ease-in 0.4s; 
	-webkit-animation:fadeIn ease-in 0.4s;
	-moz-animation:fadeIn ease-in 0.4s;
	-ms-animation:fadeIn ease-in 0.4s;
	-o-animation:fadeIn ease-in 0.4s;
	animation-delay:1s; 
	-moz-animation-delay:1s; 
	-ms-animation-delay:1s; 
	-o-animation-delay:1s; 
	-webkit-animation-delay:1s; 
	animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}
