
// webiste colors
$blue: #22a4e3;
$bgcolor: #edeff0;
$graytext: #888888;


// Media queries
$min-size: min-width;
$size: max-width;
$largeScreen: 1000px;
$tablet-mobile: 767px;
$break-tablet: 767px;
$break-large: 1249px;
$break-mob: 767px;
$break-small: 320px;
$tab: 768px;


// All Devices with
$samsungTab: 800px;
$ipadRatina: 768px;
$phoneLandscape: 640px;
$nexusTab: 600px;
$iphone6puls: 420px;
$allsmalldevices: 375px;