
// webiste colors
$blue: #22a4e3;
$bgcolor: #edeff0;
$graytext: #888888;


// Media queries
$size: max-width;
$largeScreen: 1000px;
$tablet-mobile: 767px;
$break-tablet: 999px;
$break-large: 1249px;
$break-mob: 767px;
$break-small: 320px;