

//Laura's CSS
.laura{ 

	min-height: 55rem;
	overflow: hidden;
	position: relative;
		@media screen and ( $size: $largeScreen) {
        	min-height: 94vw;
    	}
    	@media screen and ( $size: $break-mob) {
        	min-height: 94vw;
    	}
	&.bg{
		background:url(../img/section1/bg.jpg) no-repeat center center;
		background-size: cover;
	}

	.container{
		margin: 0 auto;
    	display: block;
    	width: 1000px;
    	position: relative;
    	margin-top: 14rem;

    	@media screen and ( $size: $largeScreen) {
        	width: 90%;
        	margin-top: 28vw;
    	}

		.character{
			width: 100%;
   			position: absolute;
    		top: -15em;
    		left: 37%;
    		margin: -5rem 0 0 0;
    		z-index: 1;
    		left: 0 !important;

    		@media screen and ( $size: $largeScreen) {
        		margin: -5vw 0 0 0;
    		}
    		@media screen and ( $size: $break-mob) {
			    margin: -2vw 0 0 0;
    		}
    		@media screen and ( $size: $iphone6puls) {
			    margin: 20vw 0 0 0;
    		}
    		@media screen and ( $size: $allsmalldevices) {
			    margin: 26vw 0 0 0;
    		}



			img{
				width: 100%;
			}
		}

		.content{ 
			float: left;
			position: relative;
			width: 100%;
			@include contentFadein;
 
			h1{
				font-size: 16.5rem;
    			line-height: 14rem;
    			margin-left: -0.69rem;
    			font-weight: 300;
    			@media screen and ( $size: $largeScreen) {
        			font-size: 23vw;
        			line-height: 17vw;
        			margin-left: -0.8vw;
    			}
    			@media screen and ( $size: $break-mob) {
		        	    font-size: 23vw;
					    line-height: 17vw;
					    margin-left: -0.8vw;
		    	}
    			span{
    				padding-left: 7.1rem;
    				@media screen and ( $size: $break-mob) {
		        	    padding-left: 13.1vw;
		    		}
    			}
			}
			h3{
				font-size: 4rem;
				display: inline-block;
				*margin-top: 2rem;

				@media screen and ( $size: $largeScreen) {
        			font-size: 6.5vw;
    			}
    			@media screen and ( $size: $break-mob) {
		        	font-size: 5vw;
		    	}

				span{
					color: $blue;
				}
			}

			.right_text_block{
				float: right;
				margin: 1.5rem 7.3rem 0 0;

				@media screen and ( $size: $largeScreen) {
        			margin: 1.5vw 4.3vw 0 0;
    			}

				h4{
					font-size: 1.2rem;
					@media screen and ( $size: $break-mob) {
		        	    font-size: 3vw;
		    		}
				}
				p{
					font-family:'SamsungSharpSans-Medium';
					font-size: 0.7rem;
					@media screen and ( $size: $break-mob) {
		        	    font-size: 2vw;
		    		}
				}
			}

			.netball-logo{
				    position: absolute;
    				right: 0rem;
    				bottom: -13rem;

    				@media screen and ( $size: $largeScreen) {
			        	    width: 250px;
			        	    bottom: -20vw;
    				}
    			img{
    				@media screen and ( $size: $largeScreen) {
			        	    width: 100%;
    				}
    			}
			}

			ul{
				list-style-type: none;
				li{
					float: left;
					width: 50px;
					height: 50px;
					overflow: hidden;
					margin:2rem 1rem 0 0;
					background-size:cover;
					@media screen and ( $size: $break-mob) {
			        	width: 25px;
					    height: 25px;
  						margin: 2rem 2vw 0 0;
    				}

					&.first{
						background:url(../img/social-icons/yt.png) no-repeat center bottom;
						@media screen and ( $size: $break-mob) {
							background-size: cover;
    					}
					}
					&.second{
						background:url(../img/social-icons/fb.png) no-repeat center bottom;
						@media screen and ( $size: $break-mob) {
							background-size: cover;
    					}
					}
					&.third{
						background:url(../img/social-icons/insta.png) no-repeat center bottom;
						@media screen and ( $size: $break-mob) {
							background-size: cover;
    					}
					}
					&.fourth{
						background:url(../img/social-icons/twitter.png) no-repeat center bottom;
						@media screen and ( $size: $break-mob) {
							background-size: cover;
    					}
					}

					&:hover{
						background-position: center top;
					}

					a{
						display: block;
						text-decoration: none;
						width: 100%;
						height: 100%;
					}

				}
			}
		}
	}
}


/* Chrome, Safari, Opera */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
