

//Laura's CSS
.laura{ 
	
		&.bg{
			background:url(../../images/bg.jpg) no-repeat center center;
			background-size: cover;
		}

		.content{ 
			margin: 0 auto;
			display: block;
			max-width: 49rem;
 
			h1{
				font-size: 14rem;
				margin-top: 10rem;
    			line-height: 10rem;
    			margin-left: -0.69rem;
			}
			h3{
				font-size: 4rem;

				span{
					color: $blue;
				}
			}
		}
}