
<section class="biography scroll-active" id="slider">

	<ul class="bxslider">
  		<li>{{> bio-section }}</li>
  		<li>{{> bios-info }}</li>
  		<li>{{> bios-info }}</li>
  		<li>{{> bios-info }}</li>
	</ul>
	
</section>