<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en-GB"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js" lang="en-GB" itemscope itemtype="http://schema.org/WebPage"> <!--<![endif]-->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Rethink Role Models</title>
<head>
	<link href="assets/css/app.css" rel="stylesheet">
	<script type="text/javascript" src="assets/js/vendor.js"></script>
	
</head>

<body>
	
	{{> body }}
	<script type="text/javascript" src="assets/js/app.js"></script>
</body>
</html>
